.color{
    background-color: rgb(235, 102, 102);
}
.header{
height: 200px;
background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}